<md-sidenav-container>
  <md-sidenav mode="side" opened="true">
    <ul>
      <li>Ciao</li>
      <li>Ciao</li>      
    </ul>
  </md-sidenav>

<md-toolbar color="primary">
  <span>Application Title</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <span>Right Aligned Text</span>
</md-toolbar>

  <md-list flex>
    <md-list-item class="md-3-line" layout="column" *ngFor="let item of items" ng-click="null">
        <md-icon md-font-icon="trending_down"></md-icon>
        <p>{{ item.description }}</p>
    </md-list-item> 
  </md-list>      

</md-sidenav-container>
